.notification {
    display: flex;
    align-items: center;
    margin: 20px 10px;
}

.notification_image {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.notification_right {
    margin-left: 10px;
}

.notification_poster {
    width: 50px;
    height: auto;
    border-radius: 4px;
    margin-left: 5px;
}

.notification_delete {
    font-size: 14px;
    opacity: 0.6;
    cursor: pointer;
}

.notification_delete:hover {
    opacity: 1;
    color: red;
}

.notification_accept {
    font-size: 14px;
    opacity: 0.6;
    cursor: pointer;
    margin-right: 10px;
}

.notification_accept:hover {
    opacity: 1;
    color: rgb(255, 167, 38);
}

.notification_btns {
    display: flex;
}

.noti_time {
    color: gray;
    font-size: 12px;
    white-space: nowrap;
}

.noti_comment {
    margin-top: 5px;
    font-size: 14px;
    margin: 20px 10px;
    display: flex;
    justify-content: space-between;
}

.suggestionNoteText {
    opacity: 0.8;
}

@media only screen and (max-width: 660px) {
    .notification_image {
        width: 35px;
        height: 35px;
    }

    .notification_poster {
        width: 40px;
    }

    .notification_right {
        font-size: 14px;
    }
}