.premium {
    border-radius: 6px;
    border-width: 2px;
    color: rgb(255, 167, 38);
    border-color: rgb(255, 167, 38);
    padding: 6px 10px;
    border-style: solid;
    width: fit-content;
    font-size: 12px;
}

.basic {
    border-radius: 6px;
    border-width: 2px;
    color: rgb(112, 167, 255);
    border-color: rgb(112, 167, 255);
    padding: 6px 10px;
    border-style: solid;
    width: fit-content;
    font-size: 12px;
}

.handlepremium {
    cursor: pointer;
}