.premium {
    border-radius: 10px;
    color: black;
    background-color: rgb(255, 77, 148);
    border-color: rgb(255, 77, 148);
    padding: 6px 20px;
    border-style: solid;
    width: fit-content;
    font-size: 12px;
    font-weight: 500;
}

.basic {
    border-radius: 10px;
    background-color: rgb(65, 138, 255);
    border-color: rgb(65, 138, 255);
    padding: 6px 20px;
    border-style: solid;
    width: fit-content;
    font-size: 12px;
    font-weight: 500;
}

.handlepremium {
    cursor: pointer;
}