.premium {
    border-radius: 20px;
    border-width: 1px;
    color: rgb(255, 167, 38);
    border-color: rgb(255, 167, 38);
    padding: 6px 20px;
    border-style: solid;
    width: fit-content;
    font-size: 12px;
    font-weight: 500;
}

.basic {
    border-radius: 20px;
    border-width: 1px;
    color: rgb(65, 138, 255);
    border-color: rgb(65, 138, 255);
    padding: 6px 20px;
    border-style: solid;
    width: fit-content;
    font-size: 12px;
    font-weight: 500;
}

.handlepremium {
    cursor: pointer;
}