.cast_single {
    margin: 5px;
    transition: transform .2s;
}

.cast_single:hover {
    transform: scale(0.95);
}

.cast_image {
    height: 130px;
    width: 130px;
    object-fit: cover;
    border-radius: 50%;
}

.cast_name {
    font-weight: 500;
    max-width: 150px;
}

.cast_char {
    color: lightgray;
    max-width: 150px;
    font-size: 14px;
}

@media only screen and (max-width: 660px) {

    .cast_image {
        height: 100px;
        width: 100px;
    }

    .cast_char {
        font-size: 12px;
    }

    .cast_name {
        font-size: 14px;
    }
}