.single_user {
    transition: all .3s ease-in-out;
    margin-bottom: 10px;
}

.users_image {
    height: auto;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.user_username {
    color: rgb(255, 167, 38);
    word-wrap: break-word;
    font-size: 18px;
    text-align: center;
}

.lock_icon {
    position: absolute;
    left: 10px;
}

.user_lastactive {
    font-size: 12px;
    color: gray;
    text-align: center;
}

@media only screen and (max-width: 660px) {
    .user_username {
        font-size: 16px;
    }
}