.single_user {
    transition: all .3s ease-in-out;
    margin-bottom: 10px;
}

.single_user:hover {
    transform: scale(0.95);
    transition: transform .3s ease-in-out;
}

.users_image {
    height: 220px;
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.user_username {
    color: rgb(255, 167, 38);
    word-wrap: break-word;
    font-size: 18px;
}