.loading {
    display: grid;
    place-items: center;
    min-height: 80vh;
}

.people {
    margin-top: 80px;
    padding: 0 40px;
}

@media screen and (max-width: 660px) {
    .people {
        padding: 0;
    }
}