.episode_list {
    display: flex;
    align-items: flex-start;
    overflow-x: auto;
    width: 100%;
    padding: 0 40px;
}

.single_episode {
    margin: 5px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.relative {
    position: relative;
}

.single_episode:hover {
    transform: scale(0.95);
    transition: all .3s ease-in-out;
}

.player_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.player_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.play_buttons {
    display: flex;
    align-items: center;
}

.close_icon {
    font-size: 30px !important;
    color: red !important;
}

.play_icon {
    position: absolute;
    top: 10px;
    right: 10px;
}

.single_episode_image {
    height: 150px;
    width: 280px;
    object-fit: cover;
    border-radius: 4px;
    position: relative;
}

.episode_container {
    margin-top: 10px;
}

.seasons_button {
    margin: 10px 0px;
    padding-left: 40px;
}

.episode_name {
    font-size: 15px;
    word-wrap: break-word;
}

.dropdown_item {
    color: white;
    background-color: black;
}

.episode_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
}

.air_date {
    font-size: 12px;
    color: lightgray;
}

.dropdown_item:hover {
    color: black;
    background-color: rgb(255, 167, 38);
}

.episode_number {
    color: rgb(255, 167, 38);
}

.playing {
    color: rgb(255, 167, 38);
}

.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
}

@media only screen and (max-width: 660px) {
    .single_episode_image {
        height: 120px;
        width: 220px;
    }

    .episode_list {
        padding: 0 5px;
    }

    .seasons_button {
        padding-left: 5px;
    }
}