.profile_header {
    display: grid;
    justify-content: flex-start;
    align-items: center;
}

.profile_image {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.profile_username {
    font-size: 40px;
    font-weight: bold;
}

.profile_actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.refresh_icon {
    padding: 0 5px !important;
}

@media only screen and (max-width: 600px) {
    .profile_username {
        font-size: 20px;
    }

    .profile_image {
        height: 100px;
        width: 100px;
    }
}