.profile {
    margin-top: 70px;
}

.profile_image {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.profile_header {
    display: flex;
    align-items: center;
    padding: 20px 40px;
}

.empty {
    width: 80px;
    height: auto;
    margin-top: 100px;
}

.empty_series {
    width: 80px;
    height: auto;
}

.profile_right {
    margin-left: 20px;
}

.profile_actions {
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.picture_container {
    display: flex;
    overflow: auto;
    margin-top: 10px;
}

.picture_single {
    height: auto;
    min-width: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

.modal_body {
    padding: 20px 0;
    height: 60vh;
    overflow: auto;
}

.current {
    text-align: center;
    color: rgb(255, 167, 38);
}

.pic_container {
    position: relative;
}

.edit_icon {
    background-color: black !important;
    color: rgb(255, 167, 38) !important;
    position: absolute !important;
    right: 8% !important;
    bottom: 8% !important;
    cursor: pointer;
}

@media only screen and (max-width: 900px) {

    .empty {
        width: 60px;
    }

    .empty_series {
        width: 60px;
    }

    .icon_button {
        padding: 8px !important;
    }

    .profile_header {
        display: grid;
        padding: 0;
        place-items: center;
    }

    .profile_right {
        margin: 20px 40px;
        display: grid;
        place-items: center;
    }

    .pic_container {
        text-align: center;
    }

    .profile_image {
        height: 250px;
        width: 250px;
    }
}

@media only screen and (max-width: 660px) {
    .profile_image {
        height: 200px;
        width: 200px;
    }

    .picture_single {
        min-width: 120px;
        width: 120px;
        margin: 2px;
    }
}