.profile {
    margin-top: 70px;
}

.profile_image {
    height: 400px;
    width: 400px;
    border-radius: 6px;
    object-fit: cover;
}

.profile_header {
    display: flex;
    align-items: flex-start;
    padding: 20px 40px;
}

.empty {
    width: 80px;
    height: auto;
    margin-top: 100px;
}

.empty_series {
    width: 80px;
    height: auto;
}

.switchAcc {
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    padding: 2px;
    border-color: rgb(255, 167, 38);
}

.switchAcc_span_active {
    padding: 0px 10px;
    border-radius: 20px;
    width: 150px;
    text-align: center;
    transition: all .3s ease-in-out;
}

.switchAcc_span {
    width: 150px;
    text-align: center;
    padding: 0px 10px;
    transition: all .3s ease-in-out;
}

.switchAccount {
    margin: 20px 0px;
}

.profile_right {
    margin-left: 20px;
}

@media only screen and (max-width: 900px) {

    .empty {
        width: 60px;
    }

    .empty_series {
        width: 60px;
    }

    .icon_button {
        padding: 8px !important;
    }

    .profile_header {
        display: grid;
        padding: 0;
    }

    .profile_right {
        margin: 20px 40px;
    }

    .pic_container {
        text-align: center;
    }

    .profile_image {
        height: 300px;
        width: 300px;
    }
}

@media only screen and (max-width: 660px) {
    .profile_right {
        margin: 20px 0px;
        padding-left: 5px;
    }
}