.profile_header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
}

.Profile {
    padding-top: 70px;
}

.profile_right {
    margin-left: 20px;
}

.profile_image {
    height: 300px;
    width: 300px;
    border-radius: 6px;
    object-fit: cover;
}

.profile_username {
    font-weight: bold;
    word-wrap: break-word;
}

.empty {
    width: 80px;
    height: auto;
    margin-top: 100px;
}

.empty_series {
    width: 80px;
    height: auto;
}

@media only screen and (max-width: 900px) {
    .profile_username {
        font-size: 28px;
    }

    .empty {
        width: 60px;
    }

    .empty_series {
        width: 60px;
    }

    .icon_button {
        padding: 8px !important;
    }

    .profile_header {
        padding: 0;
        display: grid;
        justify-content: center;
    }

    .profile_right {
        margin-left: 0px;
        margin: 20px 0px;
    }
}