.livetv_image {
    width: 250px;
    height: 125px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 5px;
    cursor: pointer;
    transition: transform .3s ease;
}

.livetv_image:hover {
    transform: scale(0.95);
    transition: transform .3s ease;
}

@media only screen and (max-width: 660px) {
    .livetv_image {
        width: 200px;
    }
}