.trending_scroll {
    display: flex;
    overflow: auto;
    padding: 0 40px;
}

.trending_title {
    margin-left: 40px;
    font-size: 22px;
    display: flex;
    align-items: center;
}

::-webkit-scrollbar {
    display: none;
}

.viewall {
    opacity: 0.6;
}

.viewall:hover {
    opacity: 0.8;
}

.switch {
    border-radius: 30px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    align-content: center;
    font-size: 14px;
    align-items: stretch;
    border-color: rgb(255, 167, 38);
    width: fit-content;
}

.switch_span_active {
    padding: 0px 10px;
    border-radius: 20px;
    width: 60px;
    text-align: center;
    transition: all .2s ease-in-out;
}

.switch_span {
    width: 60px;
    text-align: center;
    padding: 0px 10px;
    transition: all .2s ease-in-out;
}

.searchresultfor {
    margin-left: 40px;
    font-size: 18px;
    color: rgb(255, 167, 38) !important;
}

.recom_flex {
    display: flex;
    align-items: center;
}

.recom_img {
    height: auto;
    width: 40px;
    object-fit: cover;
}

@media only screen and (max-width: 660px) {
    .trending_title {
        font-size: 18px;
        margin-left: 5px;
    }

    .switch {
        font-size: 12px;
    }

    .trending_scroll {
        padding: 0 5px;
    }

    .searchresultfor {
        margin-left: 5px;
        font-size: 18px;
    }

}