.trending_scroll {
    display: flex;
    overflow: auto;
    padding: 0 40px;
}

.trending_title {
    margin-left: 40px;
    font-size: 22px;
    display: flex;
    align-items: center;
}

::-webkit-scrollbar {
    display: none;
}

.viewall {
    opacity: 0.6;
}

.viewall:hover {
    opacity: 0.8;
}

.searchresultfor {
    margin-left: 40px;
    font-size: 18px;
    color: rgb(255, 167, 38) !important;
}

.link_to {
    color: rgb(255, 167, 38) !important;
    text-decoration: none;
}

.recom_flex {
    display: flex;
    align-items: center;
}

.recom_img {
    height: auto;
    width: 40px;
    object-fit: cover;
}

@media only screen and (max-width: 660px) {
    .trending_title {
        font-size: 18px;
        margin-left: 5px;
    }

    .switch {
        font-size: 12px;
    }

    .trending_scroll {
        padding: 0 5px;
    }

    .searchresultfor {
        margin-left: 5px;
        font-size: 18px;
    }

}