.trending_scroll {
    display: flex;
    overflow: auto;
    padding-left: 40px;
}

.trending_title {
    margin-left: 40px;
    font-size: 22px;
    display: flex;
    align-items: center;
}

::-webkit-scrollbar {
    display: none;
}

.viewall {
    opacity: 0.6;
}

.viewall:hover {
    opacity: 0.8;
}

.switch {
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    width: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    padding: 2px;
    border-color: rgb(255, 167, 38);
}

.switch_span_active {
    padding: 0px 10px;
    border-radius: 20px;
    width: 120px;
    text-align: center;
    transition: all .3s ease-in-out;
}

.switch_span {
    width: 120px;
    text-align: center;
    padding: 0px 10px;
    transition: all .3s ease-in-out;
}

.searchresultfor {
    margin-left: 40px;
    font-size: 18px;
    color: rgb(255, 167, 38) !important;
}

.recom_flex {
    display: flex;
    align-items: center;
}

.recom_img {
    height: auto;
    width: 40px;
    object-fit: cover;
}

@media only screen and (max-width: 660px) {
    .trending_title {
        font-size: 18px;
        margin-left: 5px;
    }

    .switch {
        font-size: 12px;
        border-width: .7px;
        padding: 1.5px;
    }

    .trending_scroll {
        padding-left: 0px;
    }

    .searchresultfor {
        margin-left: 5px;
        font-size: 18px;
    }

}