.trending_scroll {
    display: flex;
    overflow-y: auto;
}

.trending_title {
    font-weight: 700;
    margin: 0px 10px;
    font-size: 22px;
}

::-webkit-scrollbar {
    display: none;
}

.viewall {
    text-decoration: none;
    font-size: small;
    color: gray;
    margin-left: 10px;
}

.viewall:hover {
    color: white;
}

@media only screen and (max-width: 880px) {
    .trending_title {
        font-size: 18px;
    }
}