.profile_actions {
    display: flex;
}

.connect_btns {
    margin-top: 10px;
}

.connect_btn {
    border-radius: 20px !important;
}

.user_last_active {
    color: darkgray;
    margin-bottom: 10px;
    font-size: 14px;
}