.singlecontent_responsive_cast {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.readmore {
    font-size: 12px;
    margin-left: 5px;
    cursor: pointer;
}

@media only screen and (max-width: 900px) {
    .singlecontent_responsive_cast {
        display: grid;
        background-image: unset !important;
    }
}

@media only screen and (max-width: 660px) {
    .singlecontent_responsive_cast {
        padding: 0;
    }
}