.singlecontent_responsive_cast {
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    margin: 0 40px;
    border-radius: 20px;
}

.readmore {
    font-size: 12px;
    margin-left: 5px;
    cursor: pointer;
}

@media only screen and (max-width: 900px) {
    .singlecontent_responsive_cast {
        display: grid;
        margin: 0 10px;
    }
}

@media only screen and (max-width: 660px) {
    .singlecontent_responsive_cast {
        padding: 0;
    }
}