.poster {
  border-radius: 6px;
  height: auto;
  width: 100%;
  cursor: pointer;
  transition: transform .3s ease-in-out;
}

.poster:hover {
  transform: scale(0.95);
  transition: transform .3s ease-in-out;
}