.singlecontentposter {
    height: 480px;
    width: 330px;
    border-radius: 10px;
    object-fit: cover;
}

.singlecontentPage {
    padding-top: 70px;
}

.singlecontent_responsive {
    display: flex;
    align-items: flex-start;
    padding: 20px;
}

.details {
    padding-left: 20px;
}

.overview {
    margin: 10px 0px;
}

.tagline {
    color: white;
    margin: 10px 0px;
}

.cast {
    display: flex;
    overflow-y: auto;
}

.actions {
    margin: 10px 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.mobile {
    display: none;
}

.singlecontent {
    padding-top: 20px;
}

.pc {
    display: block;
}

.button {
    margin: 5px !important;
    transition: all .3s;
}

.button:hover {
    transition: all .3s;
    transform: scale(0.95);
}

.genrelist {
    border-width: 1px;
    border-style: solid;
    padding: 3px 5px;
    margin-right: 5px;
    border-radius: 6px;
    font-size: 14px;
    border-color: rgb(255, 167, 38);
    color: rgb(255, 167, 38);
}

.single_review {
    margin: 10px;
}

.share_user {
    display: flex;
    cursor: pointer;
    margin: 10px;
    align-items: center;
}

.share_user_image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.share_user_username {
    opacity: 1;
    margin-left: 10px;
    font-size: 20px;
}

.share_user_username:hover {
    color: rgb(255, 167, 38);
}

.addreview {
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
    opacity: 0.7;
    display: flex;
    align-items: center;
}

.addreview:hover {
    opacity: 1;
}

@media only screen and (max-width: 900px) {

    .pc {
        display: none;
    }

    .mobile {
        display: block;
    }

    .singlecontent_responsive {
        display: grid;
        place-items: center;
        padding: 0;
    }

    .actions {
        display: grid;
    }

    .singlecontentposter_responsive {
        display: grid;
        padding: 5px;
    }

    .watchprovider {
        margin-top: 10px;
    }

    .details {
        padding-left: 5px;
        margin-top: 10px;
    }

    .tagline {
        color: unset;
    }

    .singlecontent {
        padding-top: 10px;
    }
}