.singlecontentposter {
    height: 480px;
    width: 330px;
    border-radius: 6px;
    object-fit: cover;
}

.singlecontentPage {
    margin-top: 70px;
}

<<<<<<< HEAD
.singlecontent_responsive_backdrop {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6) 50%, rgba(18, 18, 18, 1));
    height: 80vh;
    width: 100%;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 80vh;
=======
.singlecontent_responsive {
    display: flex;
    align-items: flex-start;
    padding: 20px 40px;
>>>>>>> parent of 264fe21 (removed background image)
}

.details {
    margin-left: 20px;
}

.overview {
    margin: 15px 0px;
}

.tagline {
    color: rgb(255, 167, 38);
    margin: 15px 0px;
}

.review_author_username {
    font-size: 18px;
    color: rgb(255, 167, 38);
}

.cast {
    display: flex;
    overflow-y: auto;
    padding: 0 40px;
}

.icon_small {
    height: auto;
    width: 22px;
    backdrop-filter: unset;
    object-fit: cover;
    border-radius: 4px;
}

.actions {
    margin: 10px 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.mobile {
    display: none;
}

.singlecontent {
    padding-top: 20px;
}

.pc {
    display: block;
}

.directors {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.button {
    transition: all .3s ease-in-out !important;
    margin: 2px !important;
    border-radius: 20px !important;
    background-color: antiquewhite !important;
    color: black !important;
    width: 178px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.button:hover {
    transition: all .3s ease-in-out;
    transform: scale(0.95);
    background-color: rgb(255, 167, 38) !important;
}

.share_external_btn {
    margin-top: 10px !important;
    background-color: antiquewhite !important;
    border-radius: 20px !important;
    color: black !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    transition: all .3s ease-in-out;
}

.share_external_btn:hover {
    transition: all .3s ease-in-out;
    transform: scale(0.95);
    background-color: rgb(255, 167, 38) !important;
}

.play_button {
    width: 100%;
    transition: all .3s ease-in-out !important;
    margin: 0 2px !important;
    border-radius: 20px !important;
    background-color: antiquewhite !important;
    color: black !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.play_button:hover {
    transition: all .3s ease-in-out;
    transform: scale(0.95);
    background-color: rgb(255, 167, 38) !important;
    color: black !important;
}

.genrelist {
    border-width: 1px;
    border-style: solid;
    padding: 3px 5px;
    margin: 5px;
    border-radius: 6px;
    font-size: 14px;
    border-color: rgb(255, 167, 38);
    color: rgb(238, 193, 126);
}

.single_review {
    padding: 0 40px;
    margin: 10px 0;
}

.share_user {
    display: flex;
    cursor: pointer;
    margin: 10px;
    align-items: center;
}

.share_user_image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.share_user_username {
    opacity: 1;
    margin-left: 10px;
    font-size: 20px;
}

.share_user_username:hover {
    color: rgb(255, 167, 38);
}

.addreview {
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
    opacity: 0.7;
    display: flex;
    align-items: center;
}

.addreview:hover {
    opacity: 1;
}

.play_buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5px !important;
    max-width: 330px;
    margin: auto;
}

@media only screen and (max-width: 660px) {
    .cast {
        padding: 0 5px;
    }

    .single_review {
        padding-left: 5px;
    }

    .singlecontent_responsive {
        padding: 0px 0px !important;
    }

    .server_buttons {
        display: flex;
        justify-content: center;
    }

    .mobile_center {
        display: grid;
        place-items: center;
    }

    .overview {
        margin: 5px 0px;
    }

    .tagline {
        margin: 5px 0px;
    }
}

@media only screen and (max-width: 900px) {

    .pc {
        display: none;
    }

    .mobile {
        display: block;
    }

    .singlecontent_responsive {
        display: grid;
        padding: 0 40px;
    }

    .watchprovider {
        margin-top: 10px;
    }

    .details {
        margin-left: 5px;
        margin-top: 30px;
    }

    .singlecontent {
        padding-top: 10px;
    }
}