.singlecontentposter {
    height: auto;
    width: 330px;
    border-radius: 10px;
    object-fit: cover;
}

.singlecontent_responsive {
    display: flex;
    padding: 0px 20px;
    padding-top: 70px;
}

.details {
    padding: 20px;
}

.overview {
    margin: 10px 0px;
}

.tagline {
    color: white;
    margin: 10px 0px;
}

.cast {
    display: flex;
    overflow-y: auto;
}

.actions {
    margin: 20px 0px;
    display: flex;
}

.mobile {
    display: none;
}

.singlecontent {
    padding-top: 10px;
    padding-bottom: 20px;
}

.pc {
    display: block;
}

.trailer {
    height: 80vh;
    padding: 0px;
    position: relative;
}

.watchprovider {
    margin-left: 20px;
}

.genrelist {
    border-width: 1px;
    border-style: solid;
    padding: 3px 5px;
    margin-right: 5px;
    border-radius: 6px;
    font-size: 14px;
    border-color: rgb(255, 167, 38);
    color: rgb(255, 167, 38);
}

.single_review {
    margin: 10px;
}

.share_user {
    display: flex;
    cursor: pointer;
    margin: 10px;
    align-items: center;
}

.share_user_image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.share_user_username {
    opacity: 1;
    margin-left: 10px;
    font-size: 20px;
}

.share_user_username:hover {
    color: rgb(255, 167, 38);
}

.addreview {
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
    opacity: 0.7;
    display: flex;
    align-items: center;
}

.addreview:hover {
    opacity: 1;
}

@media only screen and (max-width: 600px) {
    .pc {
        display: none;
    }

    .mobile {
        display: block;
    }
}

@media only screen and (max-width: 880px) {

    .singlecontentposter {
        width: 300px;
    }

    .singlecontent_responsive {
        display: grid;
        padding: 0;
        padding-top: 60px;
    }

    .actions {
        display: grid;
    }

    .watchprovider {
        margin-top: 20px;
        margin-left: 0;
    }

    .singlecontentposter_responsive {
        display: grid;
        place-items: center;
    }

    .details {
        padding: 20px 10px;
    }

    .trailer {
        height: 30vh;
    }

    .tagline {
        color: unset;
    }

    .singlecontent {
        padding-top: 50px;
    }
}