.welcome_backdrop {
    background-color: rgba(0, 0, 0, 0.4);
    height: 60vh;
    display: flex;
    align-items: flex-end;
    padding: 20px;
    color: white;
    border-radius: 10px;
}

.welcomeText {
    font-size: 40px;
}

.welcomeDesc {
    font-size: 20px;
}

.welcome {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .welcome {
        height: 30vh;
    }

    .welcome_backdrop {
        height: 30vh;
    }

    .welcomeText {
        font-size: 22px;
    }

    .welcomeDesc {
        font-size: 12px;
    }
}