.welcome {
    border-radius: 10px;
}
.welcome_backdrop {
    background-color: rgba(0, 0, 0, 0.4);
    height: 60vh;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    padding: 20px;
    color: white;
}
.welcomeText {
    font-size: 40px;
}
.welcomeDesc {
    font-size: 30px;
}

@media only screen and (max-width: 600px) {
    .welcome {
        height: 33vh;
    }
    .welcome_backdrop {
        height: 33vh;
    }
    .welcomeText {
        font-size: 25px;
    }
    .welcomeDesc {
        font-size: 15px;
    }
}