.navbar__img {
    height: 35px;
    width: 35px;
    object-fit: cover;
    margin-left: 20px;
    border-radius: 50%;
    border-color: transparent;
    border-width: 1.2px;
    padding: 1.2px;
    border-style: solid;
}

.navbar_icon {
    height: 35px;
    width: 35px;
}

.navbar__img_active {
    height: 35px;
    width: 35px;
    object-fit: cover;
    margin-left: 20px;
    border-radius: 50%;
    border-color: #3385ff;
    border-width: 1.2px;
    padding: 1.2px;
    border-style: solid;
}

.navlink {
    transition: transform .2s;
}

.navlink:hover {
    transform: scale(0.9);
}

@media screen and (max-width: 660px) {
    .navbar_icon {
        height: 30px;
        width: 30px;
    }

    .navbar__img {
        height: 30px;
        width: 30px;
    }

    .navbar__img_active {
        height: 30px;
        width: 30px;
    }
}