.navbar__img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    margin-left: 10px;
    border-radius: 50%;
    border-color: transparent;
    border-width: 1.2px;
    padding: 1.2px;
    border-style: solid;
}

.navbar__img_active {
    height: 45px;
    width: 45px;
    object-fit: cover;
    margin-left: 10px;
    border-radius: 50%;
    border-width: 1.2px;
    padding: 1.2px;
    border-style: solid;
}

.navbar_back {
    transition: all .5s ease-in-out;
    background: rgba(119, 72, 1, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    align-items: center;
    border-radius: 30px;
    margin: auto;
    max-width: fit-content;
    margin-bottom: 10px;
}

.MuiButtonBase-root {
    text-transform: none !important;
}

.navbar_main {
    padding: 0 40px;
    height: 60px;
}

.navbar_main_back {
    background: rgba(119, 72, 1, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.dropdown-menu {
    background-color: rgb(18, 18, 18);
}

.navbar_icon {
    cursor: pointer;
    height: auto;
    width: 100px;
}

.navlink {
    font-weight: bold;
    display: grid;
    place-items: center;
    width: 80px;
    font-size: 12px;
    text-decoration: none;
    color: white;
}

.navlink:hover {
    color: white;
}

.navlinkActive {
    width: 80px;
    border-radius: 30px;
    color: black;
}

.slider {
    position: absolute;
    height: 80%;
    width: 80px;
    background-color: rgb(255, 167, 38);
    border-radius: 30px;
    transition: transform 0.3s ease-in-out;
    z-index: -1;
}

.navlinkActive:hover {
    color: black;
}

.slide-to-home {
    transform: translateX(0px);
}

.slide-to-movies {
    transform: translateX(80px);
}

.slide-to-tvs {
    transform: translateX(160px);
}

.slide-to-search {
    transform: translateX(240px);
}

.nav_icons {
    display: grid;
    place-items: center;
}

@media screen and (max-width: 660px) {

    .navbar_main {
        padding: 0 10px;
    }

    .navbar__img {
        height: 50px;
        width: 50px;
    }

    .navbar__img_active {
        height: 50px;
        width: 50px;
    }

    .navbar_icon {
        width: 80px;
    }

    .navbar_back {
        padding: 8px;
    }

    .nav_icon {
        font-size: 20px !important;
    }

}