.searchresultfor {
    margin: 0px 10px;
    font-size: 14px;
    color: gray;
}

.cast_scroll {
    transition: transform .2s;
}

.cast_scroll:hover {
    transform: scale(0.95);
}

.cast_scroll_image {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.input_search {
    font-size: 24px !important;
    padding: 10px;
}

@media only screen and (max-width: 600px) {

    .input_search {
        font-size: 18px !important;
        padding: 5px;
    }
}