.single_content_scroll {
    position: relative;
    transition: all .3s ease-in-out !important;
    margin-top: 5px;
    margin-right: 10px;
}

.poster_scroll {
    object-fit: cover;
    height: 280px;
    border-radius: 6px;
    cursor: pointer;
}

.poster_scroll_trending {
    object-fit: cover;
    height: 400px;
    border-radius: 6px;
    cursor: pointer;
}

.user {
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
}

.res {
    display: flex;
    align-items: center;
    color: lightgray;
    justify-content: center;
    cursor: pointer;
}

.userlastplayed {
    color: rgb(255, 167, 38);
    position: absolute;
    left: 5px;
    bottom: 5px;
}

.trending_flex_count {
    display: flex;
    align-items: flex-start;
    margin-left: 10px;
    position: relative;
    overflow-y: hidden;
}

.trending_count {
    font-size: 120px;
    color: orange;
    margin-right: -5px;
    margin-top: 270px;
    margin-bottom: -80px;
    font-weight: bold;
    z-index: 2;
}

.platform {
    position: absolute;
    top: 5px;
    left: 5px;
}

.platform_icon {
    width: 20px;
    height: auto;
    border-radius: 4px;
}

@media only screen and (max-width: 660px) {
    .poster_scroll {
        height: 180px;
    }

    .user {
        width: 120px;
    }

    .trending_count {
        font-size: 70px;
        margin-top: 105px;
    }

    .platform_icon {
        width: 18px;
    }

    .poster_scroll_trending {
        object-fit: cover;
        height: 300px;
        border-radius: 6px;
        cursor: pointer;
    }

    .trending_count {
        margin-top: 225px;
    }
}