.poster_scroll {
    object-fit: cover;
    height: 300px;
    border-radius: 6px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    margin: 5px;
}

.poster_scroll:hover {
    transform: scale(0.95);
    transition: all .3s ease-in-out;
}

.user {
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.res {
    display: flex;
    align-items: center;
    color: lightgray;
    justify-content: center;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .poster_scroll {
        height: 220px;
    }

    .user {
        width: 130px;
    }
}