.single_content_scroll {
    position: relative;
    transition: all .3s ease-in-out;
    margin-top: 5px;
    margin-right: 10px;
}

.single_content_scroll:hover {
    transform: scale(0.95);
    transition: all .3s ease-in-out;
}

.poster_scroll {
    object-fit: cover;
    height: 280px;
    border-radius: 6px;
    cursor: pointer;
}

.user {
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.res {
    display: flex;
    align-items: center;
    color: lightgray;
    justify-content: center;
    cursor: pointer;
}

.userlastplayed {
    color: rgb(255, 167, 38);
}

.trending_flex_count {
    display: flex;
    align-items: flex-start;
    margin-left: 10px;
    position: relative;
    overflow-y: hidden;
}

.trending_count {
    font-size: 120px;
    color: rgb(235, 235, 235);
    margin-right: -5px;
    margin-top: 145px;
    margin-bottom: -80px;
    font-weight: bolder;
    z-index: 2;
}

@media only screen and (max-width: 660px) {
    .poster_scroll {
        height: 180px;
    }

    .user {
        width: 130px;
    }

    .trending_count {
        font-size: 65px;
        margin-top: 105px;
    }
}