.App {
    overflow-x: hidden;
    background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
}

.backdrop_opacity {
    background-color: rgba(0, 0, 0, 0.75);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
}

.content {
    padding-bottom: 20px;
    padding: 1px;
}

* {
    font-family: 'Montserrat' !important;
}