.backdrop_opacity {
    background-color: rgba(0, 0, 0, 0.7);
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 20px;
    padding-left: 2px;
    padding-right: 2px;

}

.loading {
    display: grid;
    place-items: center;
    min-height: 75vh;
}

* {
    font-family: "Varela Round", serif !important;
    font-weight: 400;
}

.content {
    margin-top: 70px;
    margin-bottom: 100px;
}

@media screen and (max-width: 660px) {
    .content {
        margin-left: 10px;
        margin-right: 10px;
    }
}