.App {
    padding-bottom: 40px;
    margin: 0;
    overflow-x: hidden;
}

.loading {
    display: grid;
    place-items: center;
    min-height: 75vh;
}

* {
    font-family: "Varela Round", serif !important;
    font-weight: 400;
}