.App {
    overflow-x: hidden;
    overflow-y: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    margin: 0;
}

.backdrop_opacity {
    background-color: rgba(0, 0, 0, 0.8);
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 20px;
    padding-left: 2px;
    padding-right: 2px;
}

* {
    font-family: 'Montserrat' !important;
}