.welcome_backdrop {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(1, 1, 1, 0.8));
    height: 70vh;
}

.welcome {
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 40px;
    border-radius: 20px;
}

.welcome_text {
    display: block;
}

@media only screen and (max-width: 660px) {

    .welcome {
        margin: 0 10px;
    }

    .welcome_text {
        display: none;
    }

    .welcome_backdrop {
        background-image: unset;
    }
}