.welcome_text {
    display: block;
    position: absolute;
    bottom: 0;
}

.title_image {
    height: auto;
    width: 200px;
    object-fit: contain;
    margin: 20px;
}

.embla {
    margin: auto;
    --slide-height: 35rem;
    --slide-spacing: 1rem;
    --slide-size: 80%;
}

.embla__viewport {
    overflow: hidden;
}

.embla__slide__img {
    display: block;
    height: var(--slide-height);
    width: 100%;
    border-radius: 1.8rem;
    object-fit: cover;
    position: relative;
    object-position: top;
}

.embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
}

.embla__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding: 0 0.5rem;
}

@media only screen and (max-width: 660px) {
    .welcome_text {
        display: none;
    }

    .embla {
        --slide-height: 30rem;
    }
}