.welcome_backdrop {
    background-image: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1));
    height: 80vh;
    display: flex;
    align-items: flex-end;
    padding: 20px 40px;
    color: white;
}

.welcomeText {
    font-size: 40px;
}

.welcome {
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .3s ease-in-out;
}

.header_buttons {
    margin-top: 10px;
}

.padding40 {
    padding: 40px;
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 660px) {

    .welcomeText {
        font-size: 30px;
    }

    .welcomeDesc {
        font-size: 14px;
    }

    .welcome_backdrop {
        padding: 8px;
        text-align: center;
    }
}